<div class="w-full h-full lg:flex lg:justify-center lg:items-center lg:mt-20">
    <app-cellphone></app-cellphone>

    <div class="flex flex-col justify-center items-center w-3/4 m-auto mt-12 lg:w-[300px] lg:!m-0 lg:mr-10">
        <h1 class="text-3xl font-black text-orange-950 mb-4">Simple booking</h1>
        <p class="text-xs text-white text-center lg:text-gray-400">
            Stay in touch with our dog walkers through the chat interface. This makes it easy to
            discuss arrangements and make bookings. Once the walk has been completed you can rate
            your walker and book again all through the chat.
        </p>
    </div>
</div>
